img {
  border: none;
  cursor: pointer;
  transition: 0.3s;
  object-fit: cover;
  background-size: cover;
}

.modalButton {
  display: block;
  padding: 10px;
  max-width: 100%;
  border: none;
  margin: auto;
}

button > img {
  display: block;
  width: 250px;
  height: 250px;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  margin: auto;
  max-width: fit-content;
  overflow: auto;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: fit-content;
}
